.result__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 16px 16px;
    justify-content: center;
    margin-top: 64px;
}

@media screen and (max-width: 1023px) {
    .result__list {
        margin-top: 32px;
        grid-template-columns: repeat(auto-fill, 224px);
        grid-gap: 8px 8px;
    }
}

@media screen and (max-width: 767px) {
    .result__list {
        grid-template-columns: 288px;
        grid-gap: auto;
        margin-top: 36.84px
    }
}




