.header__name {
    position: absolute;
    font-family: 'robotoslab-regular';
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    max-width: 200px;
}


@media screen and (max-width: 767px) {
    .header__name {
        font-size: 16px;
    }
}