@import url(./__title/search__title.css);
@import url(./__subtitle/search__subtitle.css);
@import url(./__field/search__field.css);
@import url(./__text/search__text.css);
@import url(./__button/search__button.css);

.search {
    width: 100%;
    max-height: 576px;
    background-image: url(../../images/background.png);
    background-size: cover;
    background-position: center;
    margin: auto;
    padding-bottom: 80px;
}

@media screen and (max-width: 1023px) {
    .search {
        padding-bottom: 48px;
    }
}
@media screen and (max-width: 767px) {
    .search {
        padding-bottom: 32px;
    }
}


