.card__text {
    max-width: 352px;
    font-family: 'Roboto-regular';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (max-width: 1023px) {
    .card__text {
    max-width: 192px;
    max-height: 88px;
    }
}
@media screen and (max-width: 767px) {
    .card__text {
    max-width: 256px;
    }
}